<div id="cardContainer">
    <app-user-card [user]="driver" [role]="roleDriver" [id] = "driverId" [userThatSubmited] = "user" *ngIf = "driverId && user"></app-user-card>
    <div *ngFor="let passenger of passengers; index as i">  
        <app-user-card [user]="passenger" [role]="rolePassenger" [id] = "passengerIds[i]" [userThatSubmited] = "user" *ngIf = "passengerIds && user"></app-user-card>
    </div>
</div>
<div id="panicArea" *ngIf="panic != undefined">
    <p>{{panic.reason}}</p>
</div>
<h1>Ride Information</h1>

<div id="rideContainer">
    <app-ride-details *ngIf="panic != undefined" [destination]="destination" 
    [departure]="departure"
    [departureDate]="panic.ride.startTime"
    [departureTime]="panic.ride.startTime"
    [duration]="time"
    [distance]="time"></app-ride-details>
</div>

