<img [src]="bgImagePath" id="bg-img" />

<div id="login-register-buttons-container">
    <p (click)="showLoginPopup()">Login</p>
    <p (click)="goToRegister()">Register</p>
</div>

<div id="register-now-div">
    <h1>Get in the passenger seat and enjoy</h1>
    <h2>Ride with the best and be the best.</h2>
    <button mat-raised-button color="primary" (click)="goToRegister()">Register now</button>
</div>

<div id="search-location-form-upper">
    <app-address-route-form
        [startAddressControl]="startAddressControl"
        [endAddressControl]="endAddressControl"
        [disableStartAddressField]="disableStartAddressField"
        (submitEmitter)="showRouteFromAddresses()">
    </app-address-route-form>
</div>

<p (click)="goToMaps()" id="redirect-to-map">
    SEE ALL AVAILABLE VEHICLES AND ROUTES
</p>

<h1 id="map-header">See the drivers and routes</h1>

<div id="routes-vehicles-map">
    <app-map 
        (routeEmitter)="updateRoute($event)"
        [clickCreatesMarker]="true"
        (onClickMarkerEmitter)="addMarkerOnClick($event)">
    
    </app-map>
</div>
<div id="route-information">
    <div id="search-location-form-lower">
        <app-address-route-form
            [startAddressControl]="startAddressControl"
            [endAddressControl]="endAddressControl"
            [disableStartAddressField]="disableStartAddressField"
            (submitEmitter)="showRouteFromAddresses()">

        </app-address-route-form>
    </div>
    <div id="route-details">
        <app-ride-details
        [destination]="(routes.length > 0) ? routes[0].departure.address : 'N/A'"
        [departure]="(routes.length > 0) ? routes[routes.length - 1].destination.address : 'N/A'"
        [departureDate]="'N/A'"
        [departureTime]="'N/A'"
        [duration]="((route.estimatedTimeInMinutes || 0) + totalDuration).toString() + ' min'"
        [distance]="((route.distanceInMeters || 0) + totalDistance).toString() + 'm'">
    </app-ride-details>
    </div>
    <p
        id="unavailable-schedule-label">
        You need to be logged in to use this feature
    </p>
    <button
        id="unavailable-schedule-button" 
        mat-raised-button color="primary"
        [disabled]="true">
        Schedule
    </button>
</div>

<app-login class="login-popup" [@login-popup]="loginPopupState"></app-login>
