<img [src]="bgImagePath" id="bg-img" />

<div id="login-register-buttons-container">
    <p (click)="showLoginPopup()">Login</p>
    <p (click)="goToRegister()">Register</p>
</div>

<div id="register-now-div">
    <h1>Get in the passenger seat and enjoy</h1>
    <h2>Ride with the best and be the best.</h2>
    <button mat-raised-button color="primary" (click)="goToRegister()">Register now</button>
</div>

<div id="search-location-form-upper">
    <app-address-route-form
        [startAddressControl]="startAddressControl"
        [endAddressControl]="endAddressControl"
        [disableStartAddressField]="disableUpperFormStartAddressField"
        (submitEmitter)="showRouteRequestFromUpperForm()">
    </app-address-route-form>
</div>

<p (click)="goToMaps()" id="redirect-to-map">
    SEE ALL AVAILABLE VEHICLES AND ROUTES
</p>

<app-login class="login-popup" [@login-popup]="loginPopupState"></app-login>

<h1 id="map-header">See the drivers and routes</h1>

<app-schedule-ride
    [loggedIn]="false"
    [startAddressControl]="startAddressControl"
    [endAddressControl]="endAddressControl"
    (disabledStartAddressEmitter)="updateStartAddressAccess($event)">

</app-schedule-ride>

