<img [src]="bgImagePath" id="bg-img" />

<div id="sign-up-now-div">
    <h1>Get in the driver's seat and get paid</h1>
    <h2>Ride with the best and be the best.</h2>
    <button mat-raised-button color="primary" (click)="goToRegister()">Register now</button>
</div>

<div id="search-location-form-upper">
    <app-address-route-form
        [startAddress]="startAddress"
        [endAddress]="endAddress"
        [mapComponent]="mapComponent"
        [callbackFunc]="goToMaps">
    </app-address-route-form>
</div>

<p (click)="goToMaps()" id="redirect-to-map">
    SEE ALL AVAILABLE VEHICLES AND ROUTES
</p>

<h1>DRIVER MAP</h1>

<div id="routes-vehicles-map">
    <app-map></app-map>
</div>
<div id="route-information">
    <div id="search-location-form-lower">
        <app-address-route-form
        [startAddress]="startAddress"
        [endAddress]="endAddress"
        [mapComponent]="mapComponent">

        </app-address-route-form>
    </div>
    <div id="route-details">
        <app-ride-details
        [destination]="this.startAddress"
        [departure]="this.endAddress"
        [departureDate]="'N/A'"
        [departureTime]="'N/A'"
        [duration]="'N/A'">
    </app-ride-details>
    </div>
    <button
        id="unavailable-schedule-button" 
        mat-raised-button color="primary"
        [disabled]="true">
        Schedule
    </button>
    <p
        id="unavailable-schedule-label">
        You need to be logged in to use this feature
    </p>
</div>
