#forgot-password-container {
    text-align: center;
    width: 35vw;
    margin: 7vh auto;
    border-radius: 10vmin;
    padding: 8vh 4vw;
    box-shadow: 0 0 20px black;
}

.forgot-password-main h1 {
    font-size: 2vw;
}

.forgot-password-main h2 {
    font-size: 1vw;
    color: rgb(102, 102, 102);
}

.input-container {
    display: block;
    width: 100%;
    margin-top: 1vh;
}

.reset-password-button {
    width: 100%;
    font-size: 1.25vw;
    height: 60px;
}

.send-code-button {
    font-size: 1vw;
    height: 60px;

}

.back-to-home-page-p {
    margin-top: 3.5vh;
    font-size: 1vw;
}

.back-to-home-page-p:hover {
    cursor: pointer;
    text-decoration: underline;
}