<div id="forgot-password-container">
    <div class="forgot-password-main">
        <h1>Forgot password?</h1>
        <h2>No worries, enter your email and we'll send you your reset code.</h2>
        <mat-form-field class="input-container">
            <mat-label>Email</mat-label>
            <input type="email" name="email" [(ngModel)]="email" matInput />
            <button mat-raised-button matSuffix color="accent" (click)="sendResetMail()" class="send-code-button">Send
                reset code</button>
        </mat-form-field>
        <mat-form-field class="input-container">
            <mat-label>Reset code</mat-label>
            <input type="text" name="resetCode" [(ngModel)]="resetCode" matInput />
        </mat-form-field>
        <mat-form-field class="input-container">
            <mat-label>New password</mat-label>
            <input type="password" name="newPassword" [(ngModel)]="newPassword" matInput />
        </mat-form-field>
        <mat-form-field class="input-container">
            <mat-label>Confirm password</mat-label>
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" matInput />
        </mat-form-field>
        <button mat-raised-button color="primary" class="reset-password-button" (click)="resetPassword()">Reset
            password</button>
        <p class="back-to-home-page-p" (click)="backToHome()">Back to home page</p>
    </div>
</div>