<div id="forgot-password-container">
    <form>
        <h1>Forgot password?</h1>
        <h2>No worries, we'll send you reset instructions.</h2>
        <mat-form-field class="email-container">
            <mat-label>Email</mat-label>
            <input
                name="email"
                [(ngModel)]="email"
                matInput />
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Reset password</button>
        <p class="back-to-home-page-p" (click)="backToHome()">Back to home page</p>
    </form>
</div>