.chat {
    display: flex;
    justify-content: space-evenly;
}

.user-selection {
    height: 88vh;
    margin: 2vh 0;
}

.user-full-name {
    font-size: 1vw;
    margin-left: 2vw;
}

.message-bubbles {
    margin: 2vh 1vw;
    height: 88vh;
    width: 65vw;
}