<form novalidate>
  <div id="centerContainer">
    <div class="gridArea">
      <div class="textFieldBox">
        <p>First name</p>
        <input
          [(ngModel)]="user.name"
          name="name"
          type="text"
          id="name"
          value="{{ user.name }}"
        />
      </div>
      <div class="textFieldBox">
        <p>Last name</p>
        <input
          [(ngModel)]="user.surname"
          type="text"
          name="surname"
          id="lastName"
        />
      </div>
      <div class="textFieldBox">
        <p>Phone number</p>
        <input
          [(ngModel)]="user.telephoneNumber"
          name="telephoneNumber"
          id="PhoneNumber"
        />
      </div>
      <div class="textFieldBox">
        <p>Email</p>
        <input [(ngModel)]="user.email" name="email" id="Email" />
      </div>
      <div class="textFieldBox marginBottomMedium">
        <p>Address</p>
        <input
          [(ngModel)]="user.address"
          name="address"
          id="Address"
          value="{{ user.address }}"
        />
      </div>
      <p class="marginBottomMedium"></p>
    </div>
    <div>
      <div class="buttonSection marginBottomLarge">
        <button
          style="background-color: red; margin-right: 20px"
          name="saveChanges"
          id="submit"
          (click)="updateProfile()"
        >
          SAVE CHANGES
        </button>

        <app-custom-btn1
          (click)="displayDocuments()"
          style="margin-right: 20px"
          *ngIf="displayDriverUI"
          [content]="'change documents'"
          [customColor]="'btn-blue'"
        ></app-custom-btn1>

        <app-custom-btn1
          (click)="changePassword()"
          [content]="'change password'"
          [customColor]="'btn-blue'"
        ></app-custom-btn1>
      </div>
    </div>
  </div>
</form>
