<div class="wrapper">
  <div class="left">
    <img
      src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
      alt="user"
    />
    <div class="name-img-container">
      <mat-icon>add_a_photo</mat-icon>
      <div style="padding-left: 26%">
        <h4>{{ driver.name }} {{ driver.surname }}</h4>
        <p>Driver</p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="info">
      <h3>Edit Profile</h3>
    </div>

    <div>
      <app-edit-profile-form
        [displayDriverUI]="true"
        [user]="driver"
      ></app-edit-profile-form>
    </div>
  </div>
</div>
