#mainImage {
    height: 100%;
    width: 35%;
    position: fixed;
}

#taxiIcon {
    width: 40%;
    height: 40%;
    opacity: 0.75;
}

form {
    position: absolute;
    display: inline-block;
    margin: auto;
    top: 25%;
    left: 45%;
}

form>table>tr>td {
    padding: 20px 30px;
}

form>table>tr>td>input {
    display: block;
    width: 250px;
}

button {
    padding: 30px 50px;
    font-size: large;
    margin: 15px 0;
}
