#main-image {
    height: 100%;
    width: 32%;
    position: fixed;
}

#taxi-icon {
    width: 40%;
    height: 40%;
    opacity: 0.75;
}

form {
    position: absolute;
    display: block;
    margin: auto;
    top: 15%;
    left: 40%;
}

form>table>tr>td {
    padding: 20px 60px;
}

button {
    padding: 30px 50px;
    font-size: large;
    margin: 15px 0;
}

form>table>tr>td a {
    text-decoration: none;
    margin-left: 10px;
    color: blue;
}

.form-text-field {
    width: 350px !important;
}