#main-image {
    height: 100%;
    width: 32%;
    position: fixed;
}

h1 {
<<<<<<< HEAD
    font-size: xx-large;
=======
    font-size: 36px;
    color: rgb(88, 88, 88);
    margin-bottom: 50px;
>>>>>>> 8feb9ccf3cfda68c1f167b32dd0932e158850980
}

#taxi-icon {
    width: 40%;
    height: 40%;
    opacity: 0.75;
}

form {
    position: absolute;
    display: block;
    margin: auto;
    top: 12%;
    left: 40%;
    right: 0;
}

form>table>tr>td {
    padding: 20px 60px;
}

button {
    padding: 30px 50px;
    font-size: 24px;
    margin: 20px 0;
}

form>table>tr>td a {
    text-decoration: none;
    margin-left: 10px;
    color: blue;
}

.form-text-field {
    width: 350px !important;
}

.nesto {
    position: absolute;
    top: 30%;
    right: 0;
    margin-right: 100px;
}