<nav class="navbar">
    <div class="item-clickable fill-space" (click)="navigateToHome()"><img src="{{taxiIcon}}" class="logo"/></div>
    <ul>
        <li><span class="item-clickable" (click)="navigateToHome()">HOME</span></li>
        <li><span class="item-clickable" (click)="navigateToRideHistory()">RIDE HISTORY</span></li>
        <li><span class="item-clickable" (click)="navigateToProfileInfo()">PROFILE INFO</span></li>
        <li>
            <mat-slide-toggle color="primary" [checked]="activeState" (change)="changeActiveState()">
                <span class="online-slide-toggle" #activeTextContainer>{{activeText}}</span>
            </mat-slide-toggle>
        </li>
    </ul>
    <div><span class="item-clickable logout" (click)="logout()">LOG OUT</span></div>
</nav>