<table>
    <tr>
        <td colspan="2">
            <p class="field">Departure</p>
            <p class="value">{{departure}}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="field">Destination</p>
            <p class="value">{{destination}}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2"><hr/></td>
    </tr>
    <tr>
        <td style="width: 50%;">
            <p class="field">Departure date</p>
            <p class="value">{{departureDate}}</p>
        </td>
        <td style="width: 50%;">
            <p class="field">Departure time</p>
            <p class="value">{{departureTime}}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2"><hr/></td>
    </tr>
    <tr>
        <td>
            <p class="field">Duration</p>
            <p class="value">{{duration}}</p>
        </td>
        <td>
            <p class="field">Distance</p>
            <p class="value">{{distance}}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2"><hr/></td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="field">Price</p>
            <p class="value">{{price}}</p>
        </td>
    </tr>
</table>