<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div *ngIf="profileInfo" class="wrapper">
  <div class="left">
    <img
      src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
      alt="user"
    />
    <h4>{{ driver.name }} {{ driver.surname }}</h4>
    <p>Driver</p>
  </div>
  <div class="right">
    <div class="info">
      <h3>Profile review</h3>
      <div class="info_data">
        <div class="data">
          <h4>First Name</h4>
          <b
            ><p>{{ driver.name }}</p></b
          >
        </div>
        <div class="data">
          <h4>Last Name</h4>
          <b
            ><p>{{ driver.surname }}</p></b
          >
        </div>
      </div>
      <div class="info_data">
        <div class="data">
          <h4>Email</h4>
          <b
            ><p>{{ driver.surname }}</p></b
          >
        </div>
        <div class="data">
          <h4>Phone</h4>
          <b
            ><p>{{ driver.telephoneNumber }}</p></b
          >
        </div>
      </div>
      <div class="info_data">
        <div class="data">
          <h4>Address</h4>
          <b
            ><p>{{ driver.address }}</p></b
          >
        </div>
        <div class="data">
          <h4>Role</h4>
          <b><p>Driver</p></b>
        </div>
      </div>

      <div>
        <div (click)="displayDocuments()" class="btn btn-documents">
          Documents
        </div>
        <div
          style="margin-left: 20px"
          (click)="displayVehicle()"
          class="btn btn-documents"
        >
          Vehicle
        </div>
      </div>
    </div>

    <div>
      <div class="star-align">
        <p>Driver rating:</p>
        <app-star class="star-padding" [rating]="driverRating"></app-star>
      </div>
      <div class="star-align">
        <p>Vehicle rating:</p>
        <app-star [rating]="vehicleRating"></app-star>
      </div>
    </div>
    <div class="btn edit-profile-btn">Edit profile</div>
  </div>
</div>
<div *ngIf="imgSlider" class="slider">
  <ng-image-slider
    [imageSize]="{ width: 742, height: 442, space: 10 }"
    [images]="imgCollection"
    #nav
    >asdasd</ng-image-slider
  >
  <div class="btn edit-profile-btn close-btn" (click)="hideSlideBar()">
    CLOSE
  </div>
</div>

<div *ngIf="vehicleDetails" class="vehicle-info">
  <mat-icon (click)="closeVehicle()">close</mat-icon>
  <div class="info">
    <h3>Vehicle review</h3>
    <div class="info_data">
      <div class="data">
        <h4>Vehicle Type</h4>
        <b
          ><p>{{ vehicle.vehicleType }}</p></b
        >
      </div>
      <div class="data">
        <h4>Mode</h4>
        <b
          ><p>{{ vehicle.model }}</p></b
        >
      </div>
    </div>
    <div class="info_data">
      <div class="data">
        <h4>License Number</h4>
        <b
          ><p>{{ vehicle.licenseNumber }}</p></b
        >
      </div>
      <div class="data">
        <h4>Passenger Seats</h4>
        <b
          ><p>{{ vehicle.passengerSeats }}</p></b
        >
      </div>
    </div>
    <div class="info_data">
      <div class="data">
        <h4>Baby Transport</h4>
        <b *ngIf="vehicle.babyTransport"><p>Allowed</p></b>
        <b *ngIf="!vehicle.babyTransport"><p>Forbidden</p></b>
      </div>
      <div class="data">
        <h4>Pet Transport</h4>
        <b *ngIf="vehicle.petTransport"><p>Allowed</p></b>
        <b *ngIf="!vehicle.petTransport"><p>Forbidden</p></b>
      </div>
    </div>
  </div>
</div>
