<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div *ngIf="profileInfo" class="wrapper">
  <!-- driver profile picture, driver name, driver surname -->
  <div class="left">
    <img
      src="{{ driverProfilePicture }}"
      *ngIf="driver != undefined"
      alt="user"
    />
    <h4 *ngIf="driver != undefined">{{ driver.name }} {{ driver.surname }}</h4>
    <p>Driver</p>
  </div>
  <div class="right">
    <div class="info">
      <h3>Profile review</h3>
      <app-user-info [user]="driver" [role]="'Driver'"></app-user-info>
    </div>

    <div *ngIf="driver != undefined">
      <div class="star-align">
        <p>Driver rating:</p>
        <app-star class="star-padding" [rating]="driverRating" [clickable]="false"></app-star>
      </div>
      <div class="star-align">
        <p>Vehicle rating:</p>
        <app-star [rating]="vehicleRating" [clickable]="false"></app-star>
      </div>
    </div>
    <div class="alignBottom">
      <div class="grid">
        <button (click)="displayDocuments()">
          <b>Documents</b>
        </button>
        <button (click)="displayVehicle()">
          <b>Vehicle</b>
        </button>
        <button (click)="redirectToDriverEditProfile()">
          <b>Edit Profile</b>
        </button>
      </div>
    </div>
  </div>
</div>

<app-image-slider
  (closeImageSliderEvent)="hideSlideBar()"
  [imgCollection]="imgCollection"
  *ngIf="imgSlider"
></app-image-slider>
<app-vehicle-info
  (closeVehicleEvent)="closeVehicle()"
  [vehicle]="vehicle"
  *ngIf="vehicleDetails"
></app-vehicle-info>
