<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div *ngIf="profileInfo" class="wrapper">
  <!-- driver profile picture, driver name, driver surname -->
  <div class="left">
    <img
      src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
      alt="user"
    />
    <h4>{{ driver.name }} {{ driver.surname }}</h4>
    <p>Driver</p>
  </div>
  <div class="right">
    <div class="info">
      <h3>Profile review</h3>
      <app-user-info [user]="driver" [role]="'Driver'"></app-user-info>

      <div style="padding-top: 10px">
        <app-custom-btn1
          style="padding-right: 20px"
          [content]="'Documents'"
          [customColor]="'btn-blue'"
          (click)="displayDocuments()"
        ></app-custom-btn1>
        <app-custom-btn1
          [content]="'Vehicle'"
          [customColor]="'btn-blue'"
          (click)="displayVehicle()"
        ></app-custom-btn1>
      </div>
    </div>

    <div>
      <div class="star-align">
        <p>Driver rating:</p>
        <app-star class="star-padding" [rating]="driverRating"></app-star>
      </div>
      <div class="star-align">
        <p>Vehicle rating:</p>
        <app-star [rating]="vehicleRating"></app-star>
      </div>
    </div>
    <app-custom-btn1
      style="margin-left: 80%"
      [content]="'Edit Profile'"
      [customColor]="'btn-red'"
    ></app-custom-btn1>
  </div>
</div>

<app-image-slider
  (closeImageSliderEvent)="hideSlideBar()"
  [imgCollection]="imgCollection"
  *ngIf="imgSlider"
></app-image-slider>
<app-vehicle-info
  (closeVehicleEvent)="closeVehicle()"
  [vehicle]="vehicle"
  *ngIf="vehicleDetails"
></app-vehicle-info>
