<div class="container">
  <div class="card">
    <div class="header">
      <h3>Upload Document</h3>
      <mat-icon (click)="closeDocumentUpdateForm()">close</mat-icon>
    </div>
    <div class="drop_box">
      <header>
        <h4>Select File here</h4>
      </header>
      <p>Files Supported: JPG, JPEG, PNG</p>
      <input
        style="margin-bottom: 20px"
        placeholder="Document name"
        type="text"
        [(ngModel)]="documentName"
      />
      <div style="display: flex">
        <input
          type="file"
          name="document-file"
          accept=".jpg,.png,.jpeg"
          id="fileID"
          (change)="onFileSelected($event)"
        />
        <app-custom-btn1
          (click)="uploadDocument()"
          [content]="'Upload'"
          [customColor]="'btn-red'"
        ></app-custom-btn1>
      </div>
    </div>
  </div>
</div>
