<div id="routes-vehicles-map">
    <app-map 
        (routeEmitter)="updateRoute($event)"
        [clickCreatesMarker]="true"
        (onClickMarkerEmitter)="updateRouteInfoOnClick($event)">
    
    </app-map>
</div>
<div id="route-information">
    <div id="search-location-form">
        <app-address-route-form
            [startAddressControl]="startAddressControl"
            [endAddressControl]="endAddressControl"
            (submitEmitter)="showRoute()">

        </app-address-route-form>
    </div>

    <form class="datetime-form">
        <h1>Pick date and time</h1>
        <mat-form-field class="datetime-form-item">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="datePicker" readonly [formControl]="rideDateControl">
            <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-hint>MM/DD/YYYY</mat-hint>
        </mat-form-field>
          
        <mat-form-field class="datetime-form-item">
            <mat-label>Time</mat-label>
            <input [ngxTimepicker]="timePicker" matInput readonly [formControl]="rideTimeControl" [format]="24"/>
            <ngx-material-timepicker #timePicker></ngx-material-timepicker>
            <mat-hint>HH/mm (AM/PM)</mat-hint>
        </mat-form-field>
    </form>

    <div id="route-details">
        <app-ride-details
            [destination]="this.route.departure.address"
            [departure]="this.route.destination.address"
            [departureDate]="this.rideDateControl.value.toDateString() || 'N/A'"
            [departureTime]="this.rideTimeControl.value || 'N/A'"
            [duration]="(!this.route.estimatedTimeInMinutes) ? ('N/A') : (this.route.estimatedTimeInMinutes + ' min')"
            [distance]="(!this.route.distanceInMeters) ? ('N/A') : (this.route.distanceInMeters + 'm')">
    </app-ride-details>
    </div>
    <button
        id="schedule-button" 
        mat-raised-button color="primary"
        (click)="scheduleRide()">
        Schedule
    </button>
</div>
<!-- 
<input time="false" date="true" mdc-datetime-picker="" type="text" id="date" placeholder="Date"
    ng-model="date" min-date="minDate" max-date="maxDate" class=" md-input"> -->
