#driver-map-container {
    width: 65vw;
    height: 88vh;
    display: inline-block;
    margin: 2vh 1vw;
}

#ride-information {
    border: 2px dashed rgb(190, 190, 190);
    padding: 2vh 1vw;
    border-radius: 15px;
    overflow-y: scroll;
    width: 28vw;
    height: 78vh;
    display: inline-block;
    vertical-align: top;
    margin: 5vh 1vw;
}

#button-layout {
    width: 100%;
}

#button-layout tr td {
    padding: 1vh 1vw;
}

button {
    width: 100%;
    padding: 4vh 2vw;
    font-size: 1.25vw;
}

#route-completion-info {
    font-size: 1vw;
    margin-top: 10vh;
}
