#centerContainer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
  width: 100%;
}

.marginTopMedium{
  margin-top: 40px;
}

.gridArea {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  column-gap: 50px;
}

.marginBottomLarge {
  margin-bottom: 70px;
}
.marginBottomMedium {
  margin-bottom: 50px;
}
button {
  margin-right: 20px;
  width: 200px;
  padding: 10px 20px 10px 20px;
  background-color: #3f51b5;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
}

.buttonSection a {
  width: 200px;
  padding: 10px 40px 10px 40px;
  background-color: #3f51b5;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  text-decoration: none;
}

p b {
  color: #3f51b5;
}

.profilePictureDiv img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.textFieldBox {
}

.textFieldBox p {
  margin: 5px 0px 5px 0px;
}

input {
  resize: none;
  padding: 5px;
  width: 230px;
}

#successNotification{
    color: #3F51B5;
}

#ok {
  color: #3f51b5;
  cursor: pointer;
}

#submit {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .gridArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .marginBottomLarge {
    margin-bottom: 0px;
  }

  .marginBottomMedium {
    margin-bottom: 0px;
  }

  .buttonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonSection button {
    margin: 10px 0px 10px 0px;
  }

  #centerContainer {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .textFieldBox {
    width: 100%;
  }
  .gridArea {
    width: 100%;
  }
  textarea {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}
