<form action="PUT" #f = "ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div id="centerContainer">
        <div class="gridArea">
            <h1 class="marginTopMedium">Edit profile</h1>
            <div class = "profilePictureDiv">
                <img class = "profilePicture" *ngIf = "passenger.profilePicture != null" (click) = "profilePic.click()" src="{{profilePicture}}" class="marginBottomMedium">
                <img class = "profilePicture" *ngIf = "passenger.profilePicture == null" (click) = "profilePic.click()" src = "/src/assets/images/profileImageDefault.png">
                <input type="file"
                    name="profile-picture-file"
                    accept=".jpg,.png,.jpeg"
                    id="fileId"
                    style="display: none"
                    (change)="onProfileImageSelected($event)"
                    #profilePic>
            </div>
            <div class="textFieldBox">
                <p>First name</p>
                <input ngModel name="name" type="text" id = "name" value="{{passenger.name}}">
            </div>
            <div class="textFieldBox">
                <p>Last name</p>
                <input ngModel type = "text" name="surname" id="lastName" value="{{passenger.surname}}">
            </div>
            <div class="textFieldBox">
                <p>Phone number</p>
                <input ngModel name="telephoneNumber" id="PhoneNumber" value="{{passenger.telephoneNumber}}">
            </div>
            <div class="textFieldBox">
                <p>Email</p>
                <input ngModel name="email" id="Email" value="{{passenger.email}}">
            </div>
            <div class="textFieldBox marginBottomMedium">
                <p>Adress</p>
                <input ngModel name="address" id="Address" value="{{passenger.address}}">
            </div>
        </div>
        <p id = "successNotification"><i>{{message}}</i></p>
        <div class="buttonSection marginBottomLarge">
            <button type="submit" name="saveChanges" id = "submit">SAVE CHANGES</button>
            <a href="">CHANGE PASSWORD</a>
        </div>
        <p id = "forgotPassword">Forgot your password? <a href = "#"><b>Reset now</b></a></p>
    </div>  
</form>
