<mat-toolbar color="primary" class="navbar">
    <img src="src/assets/taxi.png" style="height: 100%; margin-right: 1vw;"/>
    <span>GoGoCarJet</span>
    
    <div class="spacer">

    </div>

    <a mat-button class="navbar-item">Home</a>
    <a mat-button class="navbar-item">Ride history</a>
    <a mat-button class="navbar-item">Vehicle map</a>
    <a mat-button class="navbar-item">Register driver</a>
    <a mat-button class="navbar-item">Chat</a>
    <a mat-button class="navbar-item">Log out</a>

</mat-toolbar>