<mat-toolbar color="primary" class="navbar">
    <img src="src/assets/taxi.png" class="logo"/>
    <span>GoGoCarJet</span>
    
    <div class="spacer">

    </div>

    <a mat-button class="navbar-item">Home</a>
    <a mat-button class="navbar-item">Ride history</a>
    <a mat-button class="navbar-item">Vehicle map</a>
    <a mat-button class="navbar-item">Register driver</a>
    <a mat-button class="navbar-item">Chat</a>
    <a mat-button class="navbar-item" (click)="logout()">Log out</a>

</mat-toolbar>