#driver-map-container {
    width: 65vw;
    height: 88vh;
    display: inline-block;
    margin: 2vh 1vw;
}

#scheduled-rides {
    width: 30vw;
    height: 88vh;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    border-radius: 2vmin;
    margin: 2vh 1vw;
    border: 2px dashed rgb(190, 190, 190);
}
