<div id="driver-map-container">
    <app-map
        [ggcjRoutes]="routes">

    </app-map>
</div>

<div id="scheduled-rides">
    <mat-card *ngFor="let i of dummy" class="schedule-ride">
        <mat-card-content>
            <mat-card-title>Scheduling passenger</mat-card-title>
            <mat-card-subtitle>--Insert passenger here--</mat-card-subtitle>
            <mat-card-title>Passengers</mat-card-title>
            <mat-card-subtitle>--Insert passenger count here--</mat-card-subtitle>
            <mat-card-title>Time</mat-card-title>
            <mat-card-subtitle>--Insert start date and time here--</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Start</button>
            <button mat-raised-button color="warn">Reject</button>
            <button mat-raised-button>Show routes</button>
        </mat-card-actions>
    </mat-card>
</div>