#current-ride-grid{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
}

#passenger-map-container {
    /* width: 65vw; */
    height: 88vh;
    display: inline-block;
    margin: 2vh 1vw;
}

#ride-information {
    border: 2px dashed rgb(190, 190, 190);
    padding: 2vh 1vw;
    border-radius: 15px;
    overflow-y: scroll;
    /* width: 28vw; */
    height: 78vh;
    display: inline-block;
    vertical-align: top;
    margin: 5vh 1vw;
}

#payment-container{
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    padding-bottom: 50px;
}

#button-layout {
    width: 100%;
    margin-top: 10vh;
}

#button-layout tr td {
    padding: 1vh 1vw;
}

button {
    width: 100%;
    padding: 4vh 2vw;
    font-size: 1.25vw;
}

