<div id="current-ride-grid">
    <div id="passenger-map-container">
        <app-map></app-map>
    </div>

    <div id="ride-information">
        <div id="route-details">
            <app-ride-details
                [destination]="ride.locations[ride.locations.length - 1].destination.address"
                [departure]="ride.locations[0].departure.address"
                [departureDate]="rideDate.toDateString()"
                [departureTime]="rideDate.toLocaleTimeString()"
                [duration]="getTotalEstimatedTime() + ' min'"
                [distance]="getTotalDistanceInMeters() + 'm'"
                [price]="ride.totalCost + ' din'">
            </app-ride-details>
        </div>
        
        <button mat-raised-button (click)="openChat()">Open support chat</button>

        <table id="button-layout">
            <tr>
                <td><button mat-raised-button color="accent">Report</button></td>
                <td><button mat-raised-button color="warn">Panic</button></td>
            </tr>
        </table>
    </div>
</div>
<div id="payment-container">
    <app-payment></app-payment>
</div>