#schedule-ride-grid {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
    height: 92vh;
}

#routes-vehicles-map {
    margin: 2vh 1vw;
}

#route-information {
    overflow-y: scroll;
    border-radius: 2vmin;
    margin: 5vh 1vw;
    border: 2px dashed rgb(190, 190, 190);
    padding: 2vh 1vw;
}

#search-location-form {
    margin-bottom: 4vmin;
}

#map-header {
    text-align: center;
    font-size: 2vw;
    margin-top: 10vh;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#schedule-button {
    width: 100%;
    font-size: 1.25vw;
    height: 7vh;
    margin-top: 5vh;
}

#unavailable-schedule-label {
    width: 100%;
    text-align: center;
    margin-top: 1vh;
    font-size: 1vw;
    font-style: italic;
    color: rgb(97, 97, 97);
}

.clear-map-buttons {
    display: flex;
    justify-content: center;
    margin: 3vh 0;
}

.clear-map-buttons button {
    margin: 1vh 1vw;
    font-size: 0.8vw;
    padding: 2vh 1.5vw;
}

.time-form {
    display: block;
    margin: 5vh 0;
    padding: 3vh 1vw;
    border-radius: 15px;
    border: 2px dashed rgb(190, 190, 190);
}

h1 {
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.time-form-item {
    width: 95%;
}

.invite-passengers-form {
    margin: 5vh 0;
    border-radius: 15px;
    border: 2px dashed rgb(190, 190, 190);
    padding: 3vh 1vw;
}

.invite-passenger-form-field {
    width: 100%;
}

.invite-passenger-form-field button {
    font-size: 1.1vw;
    padding: 3vh 3vw;
}

.invited-passenger-container {
    margin: 0 2vw;
}

.invited-passenger-email {
    background-color: rgb(210, 210, 210);
    color: black;
    padding: 1vh 1vw;
    border-radius: 20px;
    font-size: 1vw;
    text-align: center;
}

.invited-passenger-email:hover {
    cursor: pointer;
    background-color: rgb(170, 170, 170);
}

.transport-info-container {
    margin: 5vh 0;
    border-radius: 15px;
    border: 2px dashed rgb(190, 190, 190);
    padding: 3vh 1vw;
}

.transport-checkboxes {
    display: flex;
    justify-content: space-evenly;
}

.vehicle-type-container {
    display: block;
    margin: 5vh 0;
    padding: 3vh 1vw;
    border-radius: 15px;
    border: 2px dashed rgb(190, 190, 190);
}

.vehicle-type-menu-button {
    width: 100%;
    font-size: 1.25vw;
    padding: 3vh 1vw;
}

h2 {
    font-size: 1.25vw;
    width: 100%;
    text-align: center;
}

.current-ride-redirect {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 5vh 0;
}

.current-ride-redirect:hover {
    text-decoration: underline;
    cursor: pointer;
}

.favorite-location-name-input {
    margin-top: 1vh;
    width: 100%;
}