<div id="schedule-ride-grid">

    <div id="routes-vehicles-map">
        <app-map (routeEmitter)="updateRoute($event)" [clickCreatesMarker]="true"
            (onClickMarkerEmitter)="addMarkerOnClick($event)">

        </app-map>
    </div>
    <div id="route-information">
        <p class="current-ride-redirect" *ngIf="hasActiveRide()" (click)="accessCurrentRide()">Access current ride</p>
        
        <div id="search-location-form">
            <app-address-route-form [startAddressControl]="startAddressControl" [endAddressControl]="endAddressControl"
                [disableStartAddressField]="disableStartAddressField" (submitEmitter)="showRouteFromAddresses()">

            </app-address-route-form>
        </div>

        <div class="clear-map-buttons">
            <button mat-raised-button color="primary" (click)="clearLastRoute()">Clear last route</button>
            <button mat-raised-button color="primary" (click)="clearAllRoutes()">Clear all routes</button>
        </div>

        <form class="time-form" *ngIf="loggedIn">
            <h1>Pick time</h1>
            <mat-form-field class="time-form-item">
                <mat-label>Time</mat-label>
                <input [ngxTimepicker]="timePicker" matInput [(ngModel)]="rideTime" name="ride-time" readonly [format]="24" />
                <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                <mat-hint>HH:mm</mat-hint>
                <button mat-button matSuffix (click)="clearScheduleTime()">Clear</button>
            </mat-form-field>
            <p style="text-align: center; font-style: italic;">Leave blank to request a ride immediately</p>
        </form>

        <form class="invite-passengers-form" (submit)="invitePassenger()" *ngIf="loggedIn">
            <h1>Invite passengers</h1>
            <mat-error *ngIf="invitedPassengerErrorMessage != ''">{{invitedPassengerErrorMessage}}</mat-error>
            <mat-form-field class="invite-passenger-form-field">
                <mat-label>Passenger email</mat-label>
                <input matInput [(ngModel)]="passengerInviteInput" name="passenger-invite-input" />
                <button type="submit" matSuffix mat-raised-button color="primary">Invite</button>
            </mat-form-field>
            <p style="text-align: center; font-style: italic;">Click on the user to remove them</p>
            <h2>Passengers in ride</h2>
            <div class="invited-passenger-container">
                <p *ngFor="let passenger of invitedPassengers" class="invited-passenger-email"  (click)="removeInvitedPassenger(passenger.email)">
                    {{(passenger.email == schedulingPassenger.email) ? 'You' : passenger.email}}
                </p>
            </div>
        </form>

        <div class="transport-info-container" *ngIf="loggedIn">
            <h1>Transport</h1>
            <div class="transport-checkboxes">    
                <mat-slide-toggle [checked]="petTransport" (change)="changePetTransport()">
                    <span>Pet transport?</span>
                </mat-slide-toggle>
                <mat-slide-toggle [checked]="babyTransport" (change)="changeBabyTransport()">
                    <span>Baby transport?</span>
                </mat-slide-toggle>
            </div>
        </div>

        <div class="vehicle-type-container" *ngIf="loggedIn && selectedVehicleType">
            <h1>Vehicle</h1>
            <button class="vehicle-type-menu-button" mat-raised-button [matMenuTriggerFor]="vehicleTypeMenu">{{selectedVehicleType.name || 'N/A'}}</button>
            <mat-menu #vehicleTypeMenu="matMenu">
                <div *ngFor="let vehicleType of vehicleTypes">
                    <button mat-menu-item (click)="setVehicleType(vehicleType)">{{vehicleType.name}}</button>
                </div>
            </mat-menu>
        </div>

        <div id="route-details">
            <app-ride-details [departure]="startLocation.address || 'N/A'"
                [destination]="(routes.length > 0) ? routes[routes.length - 1].destination.address : 'N/A'"
                [departureDate]="getDepartureDate() || 'N/A'" 
                [departureTime]="getDepartureTime() || 'N/A'"
                [duration]="getEstimatedTimeInMinutes() + ' min'"
                [distance]="getDistanceInMeters() + 'm'"
                [price]="getEstimatedPrice() + ' din'">
            </app-ride-details>
        </div>
        <mat-checkbox *ngIf="loggedIn" [checked]="markedAsFavorite" (change)="markAsFavorite()">Mark as favorite</mat-checkbox>
        <form *ngIf="loggedIn && markedAsFavorite">
            <mat-form-field class="favorite-location-name-input">
                <mat-label>Favorite location name</mat-label>
                <input matInput [(ngModel)]="favoriteLocationName" name="favorite-location-name"/>
            </mat-form-field>
        </form>
        <button id="schedule-button" mat-raised-button color="primary" (click)="scheduleRide()" [disabled]="!loggedIn || hasActiveRide()">
            Schedule
        </button>
        <p id="unavailable-schedule-label" *ngIf="!loggedIn">
            You need to be logged in to use this feature
        </p>
    </div>

</div>