<form [formGroup]="form" (submit)="login()">
    <mat-error *ngIf="hasError">Invalid email or password</mat-error>
    <mat-form-field class="user-info-input">
        <mat-label>Email</mat-label>
        <input
            type="email"
            name="login-email"
            formControlName="email"
            matInput
            />
    </mat-form-field>
    <mat-form-field class="user-info-input">
        <mat-label>Password</mat-label>
        <input
            type="password"
            name="login-password"
            formControlName="password"
            matInput
            />
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Login</button>
    <p id="forgot-password-p" (click)="forgotPasswordRedirect()">Forgot password?</p>
</form>