* {
  font-family: "Roboto";
}

.container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h4 {
  font-weight: bolder;
  padding-top: 8px;
  font-size: 20px;
}

.rating {
  display: flex;
  padding: 10px;
}

.rating-element {
  border-radius: 25px;
  border: 2px dashed rgb(210, 190, 190);
  padding: 2vh 1vw;
  margin: 2vh 1vw;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

p {
  padding: 5px;
}

.passenger-email-container {
  margin-left: 1vw;
  text-decoration: underline;
  font-size: 1.5vw;
}
