.navbar {
  z-index: 99;
  top: 0;
  left: 0;
  position: static;
  display: flex;
  justify-content: space-between;
  color: var(--primary-blue);
  background-color: white;
}

.logo {
  margin-left: 20px;
}
.logo:hover {
  cursor: pointer;
}
