#usersList{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 500px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 12px;
    max-height: 70vh;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 10px;
}

#usersList::-webkit-scrollbar{
    width: 20px;
}

#usersList::-webkit-scrollbar-track{
    display: none;
    
}

#usersList::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
    height: 30px;
  }

.user{
    width: 90%;
    height: 75px;
    margin: 20px 20px;
    padding: 10px;
    border-radius: 10px;
    line-height: 12px;
}
.user:hover{
    background-color: #293E6C;
    cursor: pointer;
    color: white;
}

.user:hover .imgSection{
    box-shadow: none;
}

.imgSection{
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 25px;
    background-color: none;
    background-size: cover;
    background-position: -17px;
    border-radius: 100%;
    box-shadow: 15px 15px 20px gray;
}

.imgSection img{
    width: 75px;
    height: 75px;
    border-radius: 100%;
}


.textSection{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.date{
    margin-top: 20px;
    float: right;
    text-align: right;
}

