<agm-map
  [latitude]="startingLatitude"
  [longitude]="startingLongitude"
  [zoom]="startingZoom"
  [disableDefaultUI]="false"
  style="width: 100%; height: 100%;" >

  <agm-marker
    *ngFor="let m of markers"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    [iconUrl]="'../../../assets/smaller-car-icon.png'">
     
    <agm-info-window>
      <strong>Label: {{m.label}}</strong><br/>
      <strong>Latitude: {{m.lat}}</strong><br/>
      <strong>Longitude: {{m.lng}}</strong>
      <p><strong>Fuck off</strong></p>
    </agm-info-window>  
   
  </agm-marker>

  <!-- potreban billing :( -->
  <!-- <agm-direction
    *ngFor="let route of routes"
    [origin]="route.origin"
    [destination]="route.destination">
  </agm-direction> -->

</agm-map>