.card-container {
  margin-bottom: 8%;
}
.scheduled-time-text {
  margin-left: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.scheduled-time {
  margin-left: 20px;
}
.card {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
  background: url(../../../../assets/driver-history-background.png);
  border-radius: 50px;
  min-height: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.card-items-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 40%;
}

.card-text {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 2.5px 2.5px 5px rgba(255, 255, 255, 0.5);
}

.star-container {
  display: flex;
  flex-direction: column;
}
