<div class="card-container" (click)="cardOnClick()">
  <div>
    <p class="scheduled-time-text">
      START TIME:
      <b
        ><span class="scheduled-time">{{ ride.startTime }}</span></b
      >
    </p>
  </div>
  <div class="card">
    <div class="card-items-container">
      <div>
        <div class="card-text">DRIVER RATING</div>
        <div class="card-text">VEHICLE RATING</div>
      </div>
      <div class="star-container">
        <app-star [rating]="vehicleRating" [clickable]="false"></app-star>
        <app-star [rating]="driverRating" [clickable]="false"></app-star>
      </div>
    </div>
  </div>
</div>
