<div class="container">
  <div class="info_data">
    <div class="data">
      <h4>First Name</h4>
      <b
        ><p *ngIf="user != undefined">{{ user.name }}</p></b
      >
    </div>
    <div class="data">
      <h4>Last Name</h4>
      <b
        ><p *ngIf="user != undefined">{{ user.surname }}</p></b
      >
    </div>
  </div>
  <div class="info_data">
    <div class="data">
      <h4>Email</h4>
      <b
        ><p *ngIf="user != undefined">{{ user.email }}</p></b
      >
    </div>
    <div class="data">
      <h4>Phone</h4>
      <b
        ><p *ngIf="user != undefined">{{ user.telephoneNumber }}</p></b
      >
    </div>
  </div>
  <div class="info_data">
    <div class="data">
      <h4>Address</h4>
      <b
        ><p *ngIf="user != undefined">{{ user.address }}</p></b
      >
    </div>
    <div class="data">
      <h4>Role</h4>
      <b
        ><p>{{ role }}</p></b
      >
    </div>
  </div>
</div>
